<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12">

            <div class="page-heading text-center">
                <h2 class="uppercase">All Students</h2>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <!-- <div class="col-sm-3">
        <label for="">Start Date</label>
        <input type="date" class="form-control" (change)="startDate($event)">
    </div>
    <div class="col-sm-3">
        <label for="">End Date</label>
        <input type="date" class="form-control"  (change)="endDate($event)">
    </div>
    <div class="col-sm-3">
      <button style="margin-top: 29px;" class="btn btn-danger" (click)="apply()">Apply Filter</button>
    </div> -->
    <div class="col-sm-3" style="display: flex;
    align-items: center;
    justify-content: center;">
        <h4>Total Number of Students : {{studentList.length}}</h4>
    </div>
</div>

<div class="container">
    <div class="row text-center mt-5">



        <table class="table">
            <thead>
                <tr >
                    <th>No</th>
                    <th>Institute Name</th>
                    <th>Gender</th>
                    <th>Contact Number</th>
                    <th>Aadhar Number</th>
                    <th>Joined On</th>
                    <th style="text-align: center;">NRI Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of studentList; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.firstName}} {{item.middleName}} {{item.lastName}}</td>
                    <td>{{item.gender}}</td>
                    <td>{{item.permanentTelephone}}</td>
                    <td>{{item.adharNumber}}</td>
                    <td>{{item.createdAt | date:'dd MMM yyyy'}}</td>
                    <td *ngIf="item.isNRI === true">Yes </td>
                    <td *ngIf="item.isNRI === false">No </td>

                    <td>

                        <!-- <button class="btn btn-dark" routerLink="/institute-detailed/{{item.userId}}">View Details</button> &nbsp;

                        <button class="btn btn-danger" (click)="Deactivated(item)" *ngIf="item.isActive === true">Deactivated</button> &nbsp;

                        <button class="btn btn-success"  (click)="Activated(item)" *ngIf="item.isActive === false">Activated</button>&nbsp;
                     -->
                        <button (click)="view(item)" class="btn btn-warning">View Admissions</button>
                    </td>

                </tr>
            </tbody>
            <tbody>

            </tbody>
        </table>



    </div>
</div>