<div class="filter_layout" (appClickOutside)="closeFIlterDropdown($event)">
    <div class="filter_detail_layout" >
        <div class="search_input"  >
            <input type="text" placeholder="Search" >
          </div>
          <div class="filter_lay">
            <div class="filter_detail">
                <input type="checkbox" checked >
                <p>Name</p>
            </div>
          </div>
    </div>
  

    <div class="button_layout">
        <button class="btn btn-height btn-primary btn-full btn_padding"  (click)="onSubmitDateFIlterClick()">Apply</button>
    
    </div>
    
</div>