<!-- <div class="card ">
    <div class="row">
        <div class="col-lg-12">
            <label class="uppercase">Update Category</label>

            <div class="form-group">
                <input type="text" [(ngModel)]="category" class="form-control form-control-line" placeholder="Add New Desk Type" />

            </div>


            <div class="float-right">
                <button class="btn btn-info mt-3 pull-right" (click)="submit()" id="submit-btn-test">Update</button>
            </div>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <label class="uppercase" style="    font-size: 23px;
            font-weight: bold;
            display: block;
            text-align: center;">{{type}}</label>
            <hr>
            <!-- <label for="" *ngIf="type == 'Add Sub Category">Sub Category</label> -->
            <input type="text"  [(ngModel)]="category" class="form-control form-control-line" placeholder="Please enter you details" />
            <button class="btn btn-info" style="    margin: 0 auto;
            display: block;
            width: 46%;
            margin-top: 33px;" (click)="submit()" id="submit-btn-test">Submit</button>
        </div>
    </div>
</div>