<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Course Management</h3>
    </div>
</div>

<div class="container">

    <!-- <form >
        <div class="row" >
            <div class="col-sm-2">
                <label for="">Select State</label>
                <select class="form-control">
                    
                </select>
            </div>
            <div class="col-sm-2">
                <label for="">Select District</label>
                <select class="form-control">
                    
                </select>
            </div>
            <div class="col-sm-2">
                <label for="">Select Admission Desk</label>
                <select class="form-control">
                    
                </select>
            </div>
            <div class="col-sm-2">
                <label for="">Select Level/Board/Stream</label>
                <select class="form-control">
                    
                </select>
            </div>
            <div class="col-sm-2">
                <label for="">Select Course</label>
                <select class="form-control">
                    
                </select>
            </div>
            <div class="col-sm-2">
                <label for="">Select Course</label>
                <select class="form-control">
                    
                </select>
            </div>
            <div class="col-sm-2">
                <label for="">Select Course</label>
                <select class="form-control">
                    
                </select>
            </div>
            <div class="col-sm-2">
                <label for="">Select Course</label>
                <select class="form-control">
                    
                </select>
            </div>
            <div class="col-sm-2">
                <label for="">Select Institute</label>
                <select class="form-control">
                    
                </select>
            </div>
            <div class="col-sm-2" style="    display: flex;
            align-items: flex-end;
            justify-content: center;">
                <button class="btn btn-primary">Apply Filters</button>
                </div>

        </div>
      

    </form> -->
    <form [formGroup]="form" (submit)="onSubmit()" class="contact">
        
        <div class="row toolbar">


            <!-- Accademic level -->
            <div class="col-md-2 col-sm-6 col-xs-12">
                <!-- <select formControlName="CourseCategoryId" (change)="loadAccademicLevelCourses($event)">
                    <option value="">Choose Academic Level</option>
                    <option *ngFor="let item of accademicLevels" value="{{item.id}}">{{item.title}}</option>
                </select> -->
                <!-- <app-control-messages [touched]="touched" [control]="f.CourseCategoryId"></app-control-messages> -->
                <mat-select class="form-control" placeholder="Select Admisssion Desk" formControlName="CourseCategoryId" (selectionChange)="loadAccademicLevelCourses(this.form.value.CourseCategoryId)">
                    <input type="text" class="form-control" [(ngModel)]="accademicLevels1" placeholder="Search Academic Level" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let item of accademicLevels | filter: accademicLevels1" [value]="item.id">
                        {{item.title}}
                    </mat-option>
                </mat-select>


            </div>

            <!-- Courses -->
            <div class="col-md-2 col-sm-6 col-xs-12">
                <!-- <select formControlName="CourseSubCategoryId" (change)="loadAccademicLevelCoursessubcat($event)">
                    <option value="">Choose Course</option>
                    <option *ngFor="let item of accademicLevelsCourses" value="{{item.id}}">{{item.title}}</option>
                </select>
                <app-control-messages [touched]="touched" [control]="f.CourseSubCategoryId"></app-control-messages> -->

                <mat-select class="form-control" placeholder="Select Level/Board/Stream" formControlName="CourseSubCategoryId" (selectionChange)="loadAccademicLevelCoursessubcat(this.form.value.CourseSubCategoryId)">
                    <input type="text" class="form-control" [(ngModel)]="accademicLevels2" placeholder="Search Course" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let item of accademicLevelsCourses | filter: accademicLevels2" [value]="item.id">
                        {{item.title}}
                    </mat-option>
                </mat-select>
            </div>

            <!-- Course streams -->
            <div class="col-md-2 col-sm-6 col-xs-12">
                <!-- <select formControlName="CourseSubCategory2Id" (change)="loadAccademicLevelCoursessubcat1($event)">
                    <option value="">Choose Course</option>
                    <option *ngFor="let item of courseStreams" value="{{item.id}}">{{item.title}}</option>
                </select>
                <app-control-messages [touched]="touched" [control]="f.CourseSubCategory2Id"></app-control-messages> -->

                <mat-select class="form-control" placeholder="Choose Course" formControlName="CourseSubCategory2Id" (selectionChange)="loadAccademicLevelCoursessubcat1(this.form.value.CourseSubCategory2Id)">
                    <input type="text" class="form-control" [(ngModel)]="accademicLevels3" placeholder="Search Course" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let item of courseStreams | filter: accademicLevels3" [value]="item.id">
                        {{item.title}}
                    </mat-option>
                </mat-select>

            </div>

            <!-- Course stream specializations -->
            <div class="col-md-2 col-sm-6 col-xs-12">
                <!-- <select formControlName="CourseSubCategory3Id" (change)="loadAccademicLevelCoursessubcat2($event)">
                    <option value="">Choose Course</option>
                    <option *ngFor="let item of courseStreamsSpecializations" value="{{item.id}}">{{item.title}}
                    </option>
                </select>
                <app-control-messages [touched]="touched" [control]="f.CourseSubCategory3Id">
                </app-control-messages> -->

                <mat-select class="form-control" placeholder="Choose Course" formControlName="CourseSubCategory3Id" (selectionChange)="loadAccademicLevelCoursessubcat2(this.form.value.CourseSubCategory3Id)">
                    <input type="text" class="form-control" [(ngModel)]="accademicLevels4" placeholder="Search Course" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let item of courseStreamsSpecializations | filter: accademicLevels4" [value]="item.id">
                        {{item.title}}
                    </mat-option>
                </mat-select>

            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <!-- <select formControlName="CourseSubCategory4Id" (change)="loadAccademicLevelCoursessubcat3($event)">
                    <option value="">Choose Course</option>
                    <option *ngFor="let item of courseStreamsSpecializations3" value="{{item.id}}">{{item.title}}
                    </option>
                </select>
                <app-control-messages [touched]="touched" [control]="f.CourseSubCategory4Id">
                </app-control-messages> -->

                <mat-select class="form-control" placeholder="Choose Course" formControlName="CourseSubCategory4Id" (selectionChange)="loadAccademicLevelCoursessubcat3(this.form.value.CourseSubCategory4Id)">
                    <input type="text" class="form-control" [(ngModel)]="accademicLevels5" placeholder="Search Course" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let item of courseStreamsSpecializations3 | filter: accademicLevels5" [value]="item.id">
                        {{item.title}}
                    </mat-option>
                </mat-select>

            </div>
            <div class="col-md-2 col-sm-6 col-xs-12" style="">
                <!-- <select formControlName="CourseSubCategory5Id">
                    <option value="">Choose Course</option>
                    <option *ngFor="let item of courseStreamsSpecializations4" value="{{item.id}}">{{item.title}}
                    </option>
                </select>
                <app-control-messages [touched]="touched" [control]="f.CourseSubCategory5Id">
                </app-control-messages> -->
                <!-- <button type="submit" class="search-btn-system-view" style="    position: absolute;">
                    <img src="./assets/images/search.png" alt="">
                </button> -->
                <mat-select class="form-control" placeholder="Choose Course" formControlName="CourseSubCategory5Id">
                    <input type="text" class="form-control" [(ngModel)]="accademicLevels6" placeholder="Search Course" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let item of courseStreamsSpecializations4 | filter: accademicLevels6" [value]="item.id">
                        {{item.title}}
                    </mat-option>
                </mat-select>

            </div>



        </div>
        <div class="row" style="display: flex;margin-top: 39px;
        margin-bottom: -34px;
        justify-content: center;">
            <!-- STATE -->
            <div class="col-sm-2">

                <mat-select class="form-control" placeholder="States" formControlName="stateId" (selectionChange)="loaddistricts(this.form.value.stateId)">
                    <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search" [ngModelOptions]="{standalone: true}">
                   
                    <mat-option *ngFor="let stateList of stateList | filter: searchText" [value]="stateList.id">
                        {{stateList.state}}
                    </mat-option>
                </mat-select>
            </div>

            <!-- district -->
            <div class="col-sm-2">

                <mat-select class="form-control" placeholder="District" formControlName="districtId">
                    <input type="text" class="form-control" [(ngModel)]="district" placeholder="Search" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let district of districtList | filter: district" [value]="district.id">
                        {{district.district}}
                    </mat-option>
                </mat-select>
            </div>
            <!-- instituteList -->
            <div class="col-sm-2">

                <mat-select class="form-control" placeholder="Institutes" formControlName="instituteId">
                    <input type="text" class="form-control" [(ngModel)]="campusname" placeholder="Search" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let instituteList of instituteList | filter: campusname" [value]="instituteList.id">
                        {{instituteList.name}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="display: flex;
            align-items: flex-end;
            justify-content: center;
            margin-top: 31px;">
                <button type="submit" class="btn btn-primary" >
                   Apply Filters
                </button>
            </div>
            <!-- <div class="col-sm-6 search-button" >
                <button type="submit" class="search-teachers">SEARCH</button>
            </div> -->
        </div>
    </form>

    <div class="row text-center mt-5">
        <div class="alert alert-warning" *ngIf="courseslist?.length==0">No Courses available.</div>

        <!-- <pre>{{bankItems|json}}</pre> -->

        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Course Name</th>
                    <th>Institute Name
                        <!-- <i class="fas fa-filter" [ngClass]="{'sort_filter_active':instituteFilterSelected.length !==0}"  (click)='onFilterClick(2)'></i>
                        <app-filter [filterArrayDetail]='instituteFilter' 
                        (onSubmitFIlter)='oninstituteFilter($event)' (onCancel)="oninstituteFiltercancel($event)"
                        *ngIf='onFilter === 2'></app-filter> -->

                    </th>
                    <th>University Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of courslistupdated; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.CourseName}}</td>
                    <td>{{item.item?.Institute?.name}}</td>
                    <td>{{item.item?.University?.university}}</td>
                    <td>{{item.item?.status}}</td>
                    <td>
                        <button class="btn btn-info" routerLink="/view-coursedetails/{{item.item.id}}/{{item.CourseName}}">View Course</button>
                        &nbsp;
                        <button class="btn btn-success" *ngIf="item.item?.status === 'Pending'" (click)="approved(item.item.id)">Approve</button> &nbsp;
                        <button class="btn btn-danger" *ngIf="item.item?.status === 'Pending'"  (click)="rejected(item.item.id)">Reject</button> &nbsp;

                    </td>
                    <!-- <td>{{item.item?.Institute?.name}}</td>
                    <td>{{item.item?.University?.name}}</td>
                    <td>{{item.universityName}}</td>
                    <td>{{item.Institute.principalName}}</td> -->
                    <!-- <td><i class="mdi mdi-table-edit" (click)="edit(item)"></i></td> -->

                </tr>
            </tbody>
            <tbody>

            </tbody>
        </table>



    </div>


</div>