.fas{
    font-size: 10px;
}


@media (min-width: 1200px)
{.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: fit-content;
}}

.col-sm-2
{
    margin-bottom: 39px;
}