<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Payment History</h3>
    </div>
</div>
<!-- 
<div class="container">
    <div class="row text-center mt-5">
        <div class="alert alert-warning" *ngIf="courseslist?.length==0">No Payment History available.</div>

        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Course Name</th>
                    <th>Institue Name</th>
                    <th>Transaction ID</th>
                    <th>Payment Date</th>
                    <th>Action</th>
                    <th></th>
                    <th></th>

                    <th></th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of courslistupdated; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{getcourseName(item)}}</td>
                    <td>{{getinstituteName(item)}}</td>
                    <td>{{item.item?.localTransactionId}}</td>
                    <td>{{item.item?.createdAt}}</td>
                    <td>Payment Done</td>
                    <td>
                        <button class="btn btn-info" (click)="viewcourse(item)">View Course</button>
                       
                        

                    </td>
                    <td>
                        
      
                    <button class="btn btn-info" routerLink="/view-confirmationletter/{{item.item.applicationId}}">View Confirmation Letter</button>
                     </td>

                        <td><button class="btn btn-info" (click)="uploadRecipt(item)">Upload Recipt</button></td>
                        <td><button class="btn btn-info" (click)="viewRecipt(item)">Download Uploaded Recipt Institute</button></td>
                </tr>
            </tbody>
            <tbody>

            </tbody>
        </table>



    </div>


</div>
 -->



<div class="row">
    <div class="col-sm-6 offset-6">
        <label for="">Choose a Date</label>
        <input type="date" class="form-control" (change)="selectedDate($event)" style="margin-bottom: 10px;"> 
    </div>
</div>




<div fxLayout="column" class="headerdiv">
    <section fxLayoutAlign="space-between end" fxFlex="100" class="heading-row">
        <p fxFlex="">Course Name</p>
        <p fxFlex="20">Institute Name</p>
        <p fxFlex="">Transaction ID</p>
        <p fxFlex="16">Payment Date</p>
        <p fxFlex="16">Status</p>
    </section>

    <mat-accordion [displayMode]="'flat'">

        <mat-expansion-panel *ngFor="let item of courslistupdated;let i=index">
            <mat-expansion-panel-header>
                <section fxLayoutAlign="space-between end" fxFlex="100">
                    <p fxFlex="">{{getcourseName(item)}}</p>
                    <p fxFlex="20">{{getinstituteName(item)}}</p>
                    <p fxFlex="">{{item.item?.localTransactionId}}</p>
                    <p fxFlex="16">{{item.item?.createdAt | date:'fullDate'}}</p>
                    <p fxFlex="16" style="margin-right: 17px;">

                        <span class="spantag"> Payment Done</span>
                    </p>
                </section>
            </mat-expansion-panel-header>
            <div class="expansion">
                <p><button class="btn btn-info" routerLink="/view-confirmationletter/{{item.item.applicationId}}">View
                        Confirmation Letter</button></p>
                <p><button class="btn btn-info" (click)="viewcourse(item)">View Course</button></p>
                <p><button class="btn btn-info" (click)="uploadRecipt(item)">Upload Receipt</button></p>
                <p><button class="btn btn-info" (click)="viewRecipt(item)">Download Uploaded Receipt Institute</button>
                </p>
                <p><button class="btn btn-danger" (click)="makePayment(item)" *ngIf="item?.item?.isAdminPayedInstitute === false">Make Payment to Institute</button></p>

            </div>

        </mat-expansion-panel>

    </mat-accordion>


</div>