<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Course Management</h3>
    </div>
</div>

<div class="container">
    <div class="row text-center mt-5">
        <div class="alert alert-warning" *ngIf="courseslist?.length==0">No Courses available.</div>

        <!-- <pre>{{bankItems|json}}</pre> -->

        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Course Name</th>
                    <th>Institue Name
                        <!-- <i class="fas fa-filter" [ngClass]="{'sort_filter_active':instituteFilterSelected.length !==0}"  (click)='onFilterClick(2)'></i>
                        <app-filter [filterArrayDetail]='instituteFilter' 
                        (onSubmitFIlter)='oninstituteFilter($event)' (onCancel)="oninstituteFiltercancel($event)"
                        *ngIf='onFilter === 2'></app-filter> -->

                    </th>
                    <th>Transaction ID</th>
                    <th>Payment Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of courslistupdated; let i=index">
                    <td>{{i+1}}</td>
                    <td></td>
                    <td></td>
                    <td>{{item.item?.localTransactionId}}</td>
                    <td>{{item.item?.createdAt}}</td>
                    <td>Payment Done</td>
                    <td>
                        <button class="btn btn-info" (click)="viewcourse(item.course.id)">View Course</button>
                        &nbsp;
                        <button class="btn btn-success" *ngIf="item.item?.status === 'Pending'" (click)="approved(item.item.id)">Approve</button> &nbsp;
                        <button class="btn btn-danger" *ngIf="item.item?.status === 'Pending'"  (click)="rejected(item.item.id)">Reject</button> &nbsp;
                        &nbsp; <button class="btn btn-info" routerLink="/view-confirmationletter/{{item.item.applicationId}}">View Confirmation Letter</button>
                        &nbsp; <button class="btn btn-info" >Upload Recipt</button>

                    </td>
                    <!-- <td>{{item.item?.Institute?.name}}</td>
                    <td>{{item.item?.University?.name}}</td>
                    <td>{{item.universityName}}</td>
                    <td>{{item.Institute.principalName}}</td> -->
                    <!-- <td><i class="mdi mdi-table-edit" (click)="edit(item)"></i></td> -->

                </tr>
            </tbody>
            <tbody>

            </tbody>
        </table>



    </div>


</div>