<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Differnet Desk Management</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <!-- <h3 class="text-themecolor">Differnet Desk Management</h3> -->
        <button class="btn btn-primary" style="float: right;" routerLink="/add-desk">Add New </button>
    </div>
</div>

<div class="container">
    <div class="row text-center mt-5">
        <div class="alert alert-warning" *ngIf="bankItems?.length==0">No Desks available.</div>

        <!-- <pre>{{bankItems|json}}</pre> -->

        <table id="customers">
            <thead>
                <tr>
                    <th>No</th>
                    <th> Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of bankItems; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.name}}</td>

                    <td><i class="mdi mdi-table-edit" (click)="edit(item)"></i></td>

                </tr>
            </tbody>
            <tbody>

            </tbody>
        </table>



    </div>


</div>