<div class="card">
    <div class="row">
        <div class="col-sm-12">
            <h4>Add New Desk</h4>
        </div>
        <div class="col-sm-12">
            <label for="">Name</label>
            <input type="text" class="form-control" placeholder="name">
        </div>
        <!-- <div class="col-sm-4"></div> -->
        <div class="col-sm-12" style="margin-top: 20px;">
            <button class="btn btn-warning" style="margin: 0 auto;display: block;">SUBMIT</button>
        </div>

    </div>
</div>