<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12">

            <div class="page-heading text-center">
                <h2 class="uppercase">All Institutes</h2>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row text-center mt-5">



        <table class="table">
            <thead>
                <tr >
                    <th>No</th>
                    <th>Institute Name</th>
                    <th>Location</th>
                    <th>Joined On</th>
                    <th style="text-align: center;">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of institutes; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.nameofTown}}</td>
                    <td>{{item.createdAt | date:'dd MMM yyyy'}}</td>
                    <td>

                        <button class="btn btn-dark" routerLink="/institute-detailed/{{item.userId}}">View Details</button> &nbsp;

                        <button class="btn btn-danger">Deactivated</button> &nbsp;

                        <!-- <button class="btn btn-success">Activated</button> -->
                    </td>

                </tr>
            </tbody>
            <tbody>

            </tbody>
        </table>



    </div>
</div>